.header{
    font-family: 'Bungee Shade', cursive;
    color: white;
}

body {

    background-image: url("/img/nasa-rTZW4f02zY8-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: 100% auto;
}

.inputs {
    color: white;
}

.side-margins{
    margin-left: 200px;
    margin-right: 200px;
}
#logo {
    height: 25px;
}